@import "App";
.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  margin-bottom: 80px;
  .headerBut{
    @extend %div-center;
    align-items: center;
    margin: 20px;
    height: 40px;
    border-radius: 20px;
    background: #FE7E00;
    color: white;
    text-decoration: none;
    &:active{
      box-shadow: 10px 5px 5px rgba(0,0,0, .3);
    }
  }
  .custom {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(159% + 1.3px);
      height: 160px;
    }
    .shape-fill {
      fill: #f6dd0d;
    }
  }
  a {
    font-size: 20px;
    padding: 0 10px;
  }
}